body {
    font-family: Arial,"meiryo",sans-serif;
    text-align: center;
}
h1 {
    text-shadow: 1px 1px 2px gray;
    font-family: 'Noto Sans JP', sans-serif;
}
.heading1 {
    text-align: center;
}
.heading2 {
    color: pink;
    text-align: center;
    letter-spacing: 1.2rem;
   text-shadow: 1px 1px 2px gray;
   border-bottom: dotted 3px rgb(red, green, blue)
}
.heading3 {
    color: skyblue;
    text-align: center;
    letter-spacing: 1.2rem;
    text-shadow: 1px 1px 2px gray;
    border-bottom: dotted 3px rgb(red, green, blue)
}
.heading4 {
    text-align: center;
        text-shadow: 1px 1px 2px gray;
        border-bottom: dotted 3px rgb(red, green, blue)
}
.skyblue {
    color: skyblue;
}
.pink {
    color: pink;
}
.black {
    color: black;
}
.text-bold {
      font-weight: bold;
    }
    #child p {
        font-weight: bold;
      }
.html {
font-size: 20px;
}